{{> organisms-header }}

<main>

    {{#> molecules-layout-container }}

        {{> molecules-page-header }}
        
        {{> molecules-button }}

        {{> organisms-web-list }}

         {{> organisms-table }}

        {{> organisms-text-list }}

    {{/ molecules-layout-container}}

</main>

{{> organisms-footer }}