//
// Wrappers for project variables, to create a new variable
// please use `variables-definitions.scss` file.
//
// If you want to use a variable, import `variables.scss` file,
// and add the corresponding map-get wrapper here.
//

/* stylelint-disable */
@import './variables-definitions';
@import './mixins/generic-get';

// Special map for colors
@function get-color($namespace, $variance: normal) {
  $color-map: get($color, $namespace);

  @return get($color-map, $variance);
}

// Generic maps
@function get-time($key: normal) { @return get($time, $key); }
@function get-font-weight($key: m) { @return get($font-weight, $key); }
@function get-font-size($key: m) { @return get($font-size, $key); }
@function get-media($key: m) { @return get($media, $key); }
@function get-z($key: m) { @return get($z, $key); }

$spacing-default: 30px;
$spacing-s: $spacing-default / 3;
$spacing-m: $spacing-default / 2;
$spacing-l: $spacing-default / 1;

$padding-top-default: 60px;
$padding-top-l: $padding-top-default / 2;
$padding-top-m: $padding-top-default / 3;
$padding-top-s: $padding-top-default / 4;
$padding-top-xs: $padding-top-default / 6;

$padding-bottom-default: 60px;
$padding-bottom-l: $padding-bottom-default / 2;
$padding-bottom-m: $padding-bottom-default / 3;
$padding-bottom-s: $padding-bottom-default / 4;
$padding-bottom-xs: $padding-bottom-default / 6;

// Colors
$brand-color-primary: #00b332;
$brand-color-primary-30: #7ad794;
$brand-color-primary-20: #c7eed2;
$brand-color-primary-10: #e8f8ed;


$brand-color-secondary: #0050f0;
$brand-color-secondary-30: #5288f5;
$brand-color-secondary-20: #adc7fa;
$brand-color-secondary-10: #e5edfd;


// fonts

$font-sizes-default: 8px;
$font-sizes-s: $font-sizes-default * 2;
$font-sizes-m: $font-sizes-default * 2.5;
$font-sizes-l: $font-sizes-default * 3;
$font-sizes-xl: $font-sizes-default * 3.5;



