.content {
  line-height: 2;

  &__title {
    font-size: $font-sizes-m;
    text-align: center;

    &--blue {
      color:$brand-color-secondary-30;
    }
  }

  &__main {
    font-size: $font-sizes-s;
    text-align: center;

    &--green {
      color:$brand-color-primary-30;
    }
  }

  .row {
    font-size: $font-sizes-s;
    display: flex;
    justify-content: center;
  }

  &__picturebox {
    padding-bottom: $padding-bottom-m;
    display: flex;
    justify-content: space-around;
  }
  .images {
    width: 30%;
    height: auto;
  }
  .pictures {
    width: 100%;
    height: auto;
  }

  &__box {
    margin-left: 5px;
  }

  &__picturedesciption {
    font-size: $font-sizes-s;
    font-style: italic;
    text-align: center;

    &--green {
      font-weight: normal;
      color: $brand-color-primary-30;
    }

    &--blue {
      font-weight: bold;
      color: $brand-color-secondary-30;
    }
  }
}
