<div class="row content__box" id="row">
        <div class="col-sm-3"><img class="image__frame" src="https://picsum.photos/400/300"  class="pictures" /></div>
        <div class="col-sm-3"><img class="image__frame" src="https://picsum.photos/400/300"  class="pictures" /></div>
        <div class="col-sm-3"><img class="image__frame" src="https://picsum.photos/400/300"  class="pictures" /></div>
</div>