<div class="content__picturedesciption">
<p class="content__picturedesciption content__picturedesciption--blue">{{pictureDescriptionBlue}}<span class="content__picturedesciption content__picturedesciption--green"> {{pictureDescriptionGreen}}</span></p>
</div>