.c-text {
    margin-bottom: 0;
    display: flex;
    justify-content: center;   
}
.c-text__header {
    margin-bottom: 0;
    padding-bottom: 5px;
  
}

/**
 * Text description
 */
.c-text__title {
    margin-bottom: 3px;
    color: blue;
    font-size: $font-size-med-2;
    
}