<a href="{{ src }}" class="c-web {{ styleModifier }}">

	<div class="c-web__header">
        {{#if webImage }}
		<div class="c-web__media">
			{{> atoms-web-image src=webImage }}
		</div>
		{{/ if }}
	</div>

	<div class="c-web__body">
		<h2 class="c-web__title">{{ title }}</h2>
		{{#if description}}<p class="c-web__excerpt">{{ description }}</p>{{/ if }}
	</div>
</a>