.compiler {
  .header {
    text-align: center;
    line-height: 8px;
    padding-top: $padding-top-small;
    padding-bottom: $padding-bottom-verysmall;

    &__title {
      font-size: 30px;
      padding-bottom: 2px;
    }
    &__text {
      font-size: 16px;
    }
  }

  .image {
    &__frame {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    &__text {
      font-size: 14px;
      font-style: italic;
      text-align: center;
    }
  }

  .body {
    line-height: 2;
    text-align: center;

    &__title {
      font-size: 20px;
      text-align: center;

      &--blue {
        color: #0050f0;
      }
    }

    &__para {
      font-size: 16px;
      text-align: center;

      &--green {
        color: #00b332;
      }
    }
    &__list {
      list-style: inside;
    }
    &__footer {
      padding-top: $padding-top-small;
      padding-bottom: $padding-bottom-small;
      font-size: 16px;
    }
  }
}
