.content {
  line-height: 2;

  &__title {
    font-size: 20px;
    text-align: center;

    &--blue {
      color: #0050f0;
    }
  }

  &__para {
    font-size: 16px;
    text-align: center;

    &--green {
      color: #00b332;
    }
  }

  &__row {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  &__box {
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  &__picturedesc {
    font-size: 16px;
    font-style: italic;
    text-align: center;

    &--green {
      color: #00b332;
    }
  }
}
