.content {
  line-height: 2;

  &__title {
    font-size: $font-sizes-medium;
    text-align: center;

    &--blue {
      color: #0050f0;
    }
  }

  &__main {
    font-size: $font-sizes-small;
    text-align: center;

    &--green {
      color: #00b332;
    }
  }

  &__row {
    font-size: $font-sizes-small;
    display: flex;
    justify-content: center;
  }

  &__box {
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  &__picturedesc {
    font-size: $font-sizes-small;
    font-style: italic;
    text-align: center;

    &--green {
      font-weight: normal;
      color: #00b332;
    }

    &--black {
      font-weight: bold;
      color: black;
    }
  }
}
