//what is the class for & for what purpose we used for.
.footer {
  &__title {
    text-align: center;
    padding-bottom: $padding-bottom-s;
    font-size: $font-sizes-s;

    &--link {
      color: $brand-color-secondary-30;
    }
  }
}
