.header {
  padding-bottom: $padding-bottom-large;

  &__title {
    text-align: center;
    line-height: 8px;
    font-size: $font-sizes-xl;
    padding-top: $padding-top-default;
    padding-bottom: $padding-bottom-xs;
  }

  &__text {
    font-size: $font-sizes-small;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    padding-bottom: $padding-bottom-xs;
  }

  button:hover {
    background-color: #0050f0;
  }
  // Met class button selecteren het de hele container.
  //&__button:hover {
  //background-color: #0050f0;
  //}
}
