.header {
  
  &__title {
    text-align: center;
    line-height: 8px;
    color:$brand-color-secondary-30;
    font-size: $font-sizes-xl;
    padding-top: $padding-top-default;
    padding-bottom: $padding-bottom-xs;
  }

  &__text {
    font-size: $font-sizes-s;
    text-align: center;
  }
}

