.image {
  &__frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    .image:hover .overlay {
      display: inline-block;
      opacity: 0.6;
    }
  }
  &__overlay {
    position: absolute;
    top: 210px;
    bottom: 0;
    left: 50px;
    right: 0;
    background-color: black;
    cursor: pointer;
    transition: 0.5s ease;
  }

  &__popup {
    color: white;
    font-size: 16px;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
